@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.container {
  text-align: center;
  text-transform: uppercase;
  padding: 9px 12px;
  width: 197px;
  height: 44px;
  background: none;
  @include border($border: $default-export-btn-border);
  @include text($font-size: 14px, $font-weight: 600);
}
