@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.RegisterPage__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #948ad0;
}
.RegisterPage__formWrap {
  width: 414px;
  padding: 32px 38px;
  background: #ffffff;
}
.RegisterPage__link {
  display: block;
  margin-top: 10px;
  font-weight: 400;
  color: #948ad0;
}
